html {
	--container: 300px;
	--padding-container: 10px;
	box-sizing: border-box;
	position: relative;
	overflow-x :hidden;

}

*,
*:after,
*:before {
	box-sizing: inherit;
}


body {
	font-family: nunito, sans-serif;
	padding: 0;
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	color: black;
	position: relative;
	overflow-x :hidden;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
figure {
	margin: 0;
}

iframe {
	border: 0;
}

fieldset {
	padding: 0%;
	margin: 0%;
	border: 0;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer
}

.container {
	max-width: calc(var(--container)+var(--padding-container)*2);
	padding: 0 var(--padding-container);
	margin: 0 auto;
}





@media(min-width:480px) {
	html {
		--container: 640px
	}
}

@media(min-width:768px) {
	html {
		--padding-container: 64px;
	}
}

@media(min-width:1024px) {
	html {
		--container: 960px;
		--padding-container: 32px;
	}
}

@media(min-width:1360px) {
	html {
		--container: 1290px;
		--padding-container:64px;
	}
}


.header{
	background-image:url('img/bg1.png');
	background-size: cover;
	padding: 32px 150px;
	color: #fff;
	background-color:#1840A7;

}



.header__title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.input__png{
	display: flex;
	justify-content:center;
	align-items: center;
}

.header__language{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rus__l{
	padding: 10px;
}

.nav-header{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid  var(--white, #FFF);
	border-bottom: 2px solid  var(--white, #FFF);
padding: 20px 0;
border-width: 100%;
}


.header__content{
	height: 500px;
	display: grid;
	grid-template-columns: 1fr  1fr;
}

.content__right{
display: block;
}

.right__img{
	padding-top: 150px;
	padding-left: 260px;
}
.right__sup{
margin-top: 30px;
padding-left: 290px;
}


.content__left{
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 70px;
	padding-left: 100px;
}

.left__title{
	text-align: center;
	margin-top: 120px;
	font-size: 25px;
font-weight: 700;
line-height: 140%; /* 56px */
}

.left__content{
	padding: 15px 30px;
	border: 2px solid var(--white, #FFF);
}

.left__images{
display: flex;
	align-items: flex-end;
}

.left__img{
	margin-left: 10px;
}

